@font-face {
    font-family: 'ModernPictograms';
    src: url('/fonts/modern-pictograms/modernpics-webfont.eot');
    src: url('/fonts/modern-pictograms/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/modern-pictograms/modernpics-webfont.woff') format('woff'),
         url('/fonts/modern-pictograms/modernpics-webfont.ttf') format('truetype'),
         url('/fonts/modern-pictograms/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

