/* line 5, demos.css.sass */
body.demos {
  width: 800px;
  margin: 0 auto; }
  /* line 15, demos.css.sass */
  body.demos .demo .preview canvas {
    border: 1px dotted silver; }
  /* line 19, demos.css.sass */
  body.demos .demo .preview .controls {
    margin-top: 5px; }
    /* line 23, demos.css.sass */
    body.demos .demo .preview .controls button .icon {
      margin: 0; }
    /* line 27, demos.css.sass */
    body.demos .demo .preview .controls input {
      height: 32px;
      margin-left: 5px;
      vertical-align: bottom; }
  /* line 35, demos.css.sass */
  body.demos .demo pre {
    border: 1px solid silver; }
@font-face {
    font-family: 'ModernPictograms';
    src: url('/fonts/modern-pictograms/modernpics-webfont.eot');
    src: url('/fonts/modern-pictograms/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/modern-pictograms/modernpics-webfont.woff') format('woff'),
         url('/fonts/modern-pictograms/modernpics-webfont.ttf') format('truetype'),
         url('/fonts/modern-pictograms/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* line 5, forms.css.sass */
input[type="submit"], button, .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.1em 10px;
  height: 2em;
  line-height: 1.7em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  -ms-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5); }
  /* line 21, forms.css.sass */
  input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus, .button:hover, .button:focus {
    background-image: -webkit-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -moz-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -o-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -ms-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2); }
  /* line 25, forms.css.sass */
  input[type="submit"]:active, button:active, .button:active {
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    background-image: none;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px; }
  /* line 37, forms.css.sass */
  input[type="submit"].selected, button.selected, .button.selected {
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 2px; }
  /* line 43, forms.css.sass */
  input[type="submit"]:disabled, button:disabled, .button:disabled {
    background: none;
    opacity: 0.5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2); }

/* line 55, forms.css.sass */
input[type="text"], select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.2em 10px;
  height: 2em;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  -ms-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.5); }
  /* line 71, forms.css.sass */
  input[type="text"]:focus, select:focus, textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    border-color: rgba(255, 255, 255, 0.3); }
  /* line 79, forms.css.sass */
  input[type="text"]:disabled, select:disabled, textarea:disabled {
    opacity: 0.5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }

/* line 87, forms.css.sass */
.icon {
  font-family: "ModernPictograms";
  display: inline;
  margin-right: 5px;
  font-size: 130%; }
  /* line 97, forms.css.sass */
  .icon.standalone {
    margin: 0; }
  /* line 101, forms.css.sass */
  .icon.close:before {
    content: "X"; }
  /* line 105, forms.css.sass */
  .icon.delete:before {
    content: "I"; }
  /* line 109, forms.css.sass */
  .icon.export:before {
    content: "o"; }
  /* line 113, forms.css.sass */
  .icon.editFunction:before {
    content: "V"; }
  /* line 117, forms.css.sass */
  .icon.file:before {
    content: "K"; }
  /* line 121, forms.css.sass */
  .icon.help:before {
    content: "?"; }
  /* line 125, forms.css.sass */
  .icon.image:before {
    content: "A"; }
  /* line 129, forms.css.sass */
  .icon.new:before {
    content: "+"; }
  /* line 133, forms.css.sass */
  .icon.next:before {
    content: ">"; }
  /* line 137, forms.css.sass */
  .icon.play:before {
    content: ">"; }
  /* line 141, forms.css.sass */
  .icon.previous:before {
    content: "<"; }
  /* line 145, forms.css.sass */
  .icon.replace:before {
    content: "R"; }
  /* line 149, forms.css.sass */
  .icon.reset:before {
    content: "R"; }
/* line 7, gui.css.sass */
body.gui.drag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }
/* line 11, gui.css.sass */
body.gui .gui-main {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333333; }
  /* line 21, gui.css.sass */
  body.gui .gui-main > .menu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 40px;
    background-color: #dee6e5;
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 3px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 3px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 3px 3px rgba(0, 0, 0, 0.2); }
    /* line 37, gui.css.sass */
    body.gui .gui-main > .menu button, body.gui .gui-main > .menu input {
      display: block;
      float: left;
      margin: 4px 0 0 5px; }
    /* line 45, gui.css.sass */
    body.gui .gui-main > .menu hr {
      display: block;
      float: left;
      height: 18px;
      width: 0;
      margin: 11px 1px 0 6px;
      border-top: none;
      border-bottom: none;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.2); }
    /* line 65, gui.css.sass */
    body.gui .gui-main > .menu .project-menu {
      display: none; }
      /* line 69, gui.css.sass */
      body.gui .gui-main > .menu .project-menu.visible {
        display: block; }
  /* line 75, gui.css.sass */
  body.gui .gui-main .project {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 45px;
    bottom: 5px;
    display: none; }
    /* line 89, gui.css.sass */
    body.gui .gui-main .project.visible {
      display: block; }
    /* line 95, gui.css.sass */
    body.gui .gui-main .project .tile {
      position: absolute; }
      /* line 99, gui.css.sass */
      body.gui .gui-main .project .tile .pane {
        overflow: auto;
        position: absolute;
        left: 5px;
        top: 5px;
        right: 5px;
        bottom: 5px;
        border: 2px solid rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(0, 0, 0, 0.5);
        background-color: rgba(136, 136, 136, 0.2); }
        /* line 119, gui.css.sass */
        body.gui .gui-main .project .tile .pane .artboard {
          display: inline-block;
          position: relative;
          border: 1px dashed rgba(0, 0, 0, 0.15);
          margin: 5px; }
          /* line 129, gui.css.sass */
          body.gui .gui-main .project .tile .pane .artboard canvas {
            display: block; }
      /* line 135, gui.css.sass */
      body.gui .gui-main .project .tile.image .pane {
        bottom: 37px;
        border: 1px solid rgba(136, 136, 136, 0.5); }
      /* line 141, gui.css.sass */
      body.gui .gui-main .project .tile.image .menu {
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 5px;
        height: 30px;
        background-image: -webkit-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -moz-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -o-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -ms-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
        background-image: radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
        border: 1px solid transparent;
        -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2); }
        /* line 155, gui.css.sass */
        body.gui .gui-main .project .tile.image .menu button {
          height: 25px;
          margin: 2px 0 0 2px;
          float: left; }
          /* line 163, gui.css.sass */
          body.gui .gui-main .project .tile.image .menu button .icon {
            margin: 0; }
        /* line 167, gui.css.sass */
        body.gui .gui-main .project .tile.image .menu input[type=file] {
          position: absolute;
          clip: rect(0, 0, 0, 0); }
        /* line 173, gui.css.sass */
        body.gui .gui-main .project .tile.image .menu input[type=range] {
          display: block;
          float: left;
          margin: 2px 0 0 2px;
          width: 100px;
          height: 25px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
          -ms-box-sizing: border-box;
          box-sizing: border-box; }
        /* line 187, gui.css.sass */
        body.gui .gui-main .project .tile.image .menu input[type=text] {
          height: 25px;
          margin: 2px;
          padding: 2px 5px;
          line-height: 21px;
          float: right; }
      /* line 201, gui.css.sass */
      body.gui .gui-main .project .tile .point, body.gui .gui-main .project .tile .midpoint {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        margin: -5px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid white;
        -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
        cursor: pointer; }
        /* line 221, gui.css.sass */
        body.gui .gui-main .project .tile .point.highlighted, body.gui .gui-main .project .tile .midpoint.highlighted {
          background-color: rgba(0, 0, 0, 0.7);
          -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.7), 0 0 3px 5px rgba(255, 255, 255, 0.5);
          -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.7), 0 0 3px 5px rgba(255, 255, 255, 0.5);
          -o-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.7), 0 0 3px 5px rgba(255, 255, 255, 0.5);
          -ms-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.7), 0 0 3px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.7), 0 0 3px 5px rgba(255, 255, 255, 0.5); }
        /* line 227, gui.css.sass */
        body.gui .gui-main .project .tile .point.selected, body.gui .gui-main .project .tile .midpoint.selected {
          background-color: black;
          width: 10px;
          height: 10px;
          border: 1px solid white;
          margin: -6px; }
      /* line 241, gui.css.sass */
      body.gui .gui-main .project .tile .midpoint {
        width: 6px;
        height: 6px;
        margin: -3px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5); }
        /* line 253, gui.css.sass */
        body.gui .gui-main .project .tile .midpoint.highlighted {
          background-color: white; }
/* line 5, popups.css.sass */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  background-color: rgba(0, 0, 0, 0.7); }
  /* line 23, popups.css.sass */
  .popup.visible {
    display: block; }
  /* line 27, popups.css.sass */
  .popup .window {
    width: 600px;
    padding: 5px 30px;
    min-height: 200px;
    margin: 50px auto;
    position: relative;
    background-image: -webkit-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -moz-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -o-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -ms-radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: radial-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2); }
    /* line 41, popups.css.sass */
    .popup .window > button[data-action=close] {
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 0;
      width: 20px;
      height: 20px;
      line-height: 20px; }
      /* line 57, popups.css.sass */
      .popup .window > button[data-action=close] .icon {
        margin: 0; }
    /* line 63, popups.css.sass */
    .popup .window .content textarea.code {
      width: 600px;
      height: 300px;
      font-family: monospace; }
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* line 18, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* line 26, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/html5.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 35, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/html5.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 43, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/html5.scss */
[hidden] {
  display: none; }

/* line 53, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/html5.scss */
figure {
  margin: 0; }

/* line 10, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* line 22, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 28, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
body {
  margin: 0; }

/* line 40, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
a:focus {
  outline: thin dotted; }

/* line 48, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
a:hover,
a:active {
  outline: 0; }

/* line 60, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 65, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 70, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 75, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 80, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 85, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/* line 92, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 99, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
b,
strong {
  font-weight: bold; }

/* line 103, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
blockquote {
  margin: 1em 40px; }

/* line 109, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
dfn {
  font-style: italic; }

/* line 115, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 123, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
p,
pre {
  margin: 1em 0; }

/* line 133, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 141, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 152, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
q {
  quotes: none; }

/* line 159, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 164, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
small {
  font-size: 75%; }

/* line 172, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 179, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
sup {
  top: -0.5em; }

/* line 183, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
sub {
  bottom: -0.25em; }

/* line 197, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 201, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
dd {
  margin: 0 0 0 40px; }

/* line 209, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 216, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* line 230, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/* line 237, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 248, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 7, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
form {
  margin: 0; }

/* line 13, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 23, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 37, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 47, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
button,
input {
  line-height: normal; }

/* line 62, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 71, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/* line 81, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 91, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 101, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 108, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 116, ../../../../../../../../usr/share/ruby-rvm/gems/ruby-1.9.3-p125/gems/compass-normalize-1.1.2/stylesheets/normalize/forms.scss */
textarea {
  overflow: auto;
  vertical-align: top; }
