- body_class 'demos'

%h1 Demos

%section
  %h1 Basic setup
  %p
    Use
    = link_to "the GUI", "/", target: '_blank'
    to setup images and meshes. Then simply create new Morpher object using JSON code exported from GUI.

  .demo#demo1
    .preview
      .controls
        %button{title: 'Play'}
          .play.icon
        %input{type: "range", min: 0, max: 1, step: 0.01, value: 0}
    :javascript
      $('#demo1').each(function() {
        var json = {"images":[{"points":[{"x":139,"y":27},{"x":169,"y":46},{"x":177,"y":0},{"x":194,"y":34},{"x":237,"y":3},{"x":237,"y":36},{"x":105,"y":112},{"x":219,"y":87},{"x":206,"y":164},{"x":44,"y":208},{"x":18,"y":54},{"x":68,"y":22},{"x":126,"y":220},{"x":0,"y":137},{"x":98,"y":14},{"x":88,"y":11},{"x":130,"y":17},{"x":149,"y":22},{"x":174,"y":43},{"x":202,"y":61}],"src":"images/plum.png"},{"points":[{"x":103,"y":85},{"x":125,"y":86},{"x":98,"y":15},{"x":130,"y":40},{"x":145,"y":0},{"x":159,"y":23},{"x":108,"y":172},{"x":215,"y":122},{"x":211,"y":209},{"x":126,"y":294},{"x":20,"y":212},{"x":23,"y":141},{"x":187,"y":266},{"x":49,"y":274},{"x":29,"y":102},{"x":0,"y":135},{"x":8,"y":69},{"x":96,"y":52},{"x":127,"y":68},{"x":229,"y":99}],"src":"images/raspberry.png"}],"triangles":[[5,3,2],[2,4,5],[6,1,0],[6,1,7],[8,7,6],[10,11,6],[8,6,12],[9,6,12],[9,6,13],[10,6,13],[11,6,14],[0,6,14],[15,14,11],[16,14,15],[0,14,16],[0,3,17],[2,3,17],[17,16,0],[1,0,18],[3,0,18],[19,7,1],[1,18,19]]};

        var morpher = new Morpher(json);

        $(this).find('.preview').prepend(morpher.canvas);
        
        $(this).find('button').click(function() {
          morpher.set([1, 0]);
          morpher.animate([0, 1], 2000);
        })

        $(this).find('input').change(function() {
          var v = $(this).val()*1;
          morpher.set([1-v, v]);
        })
      })
    
    
